.featureContainer{
    padding-bottom: 5%;
    padding-top: 5%;
}

.featureItem{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2%;
}

.featureCards{
    width: 100%;
    height: 200px;
    padding: 2%;
}